@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 16px;
    margin: 10px 0 40px;
    line-height: 35px;
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 10px 0;
    background: #172664;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu-list {
    display: inline-flex;
}

.navbar #logo {
    height: 70px;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #9ee6dc;
}

.banner {
    height: 95vh;
    background: linear-gradient(rgba(23, 38, 100, 0.6), rgba(38, 36, 36, 0.6)), url("../images/internxpbanner-about.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner .text-box {
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner .text-box h1 {
    font-size: 40px;
}

.banner .text-box p {
    font-size: 20px;
    margin: 10px 0 40px;
    line-height: 35px;
}

.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: 50%;
    top: 35px;
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
}

.scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 6px;
    }

    40% {
        opacity: 1;
        height: 10px;
    }

    80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
    }

    100% {
        height: 3px;
        opacity: 0;
    }
}

.chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

.row {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

@media (max-width: 950px) {
    body.disabledScroll {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: #1f3383;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu-list.active {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
    }
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.meet-devs .text-area {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    padding-top: 500px;
}

.meet-devs {
    height: 275vh;
    background: linear-gradient(rgba(23, 38, 100, 0.6), rgba(38, 36, 36, 0.6)), url("../images/longbeach.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: local;
    margin: auto;
    text-align: center;
    padding: 40px 0;
    background-color: rgb(227, 221, 239);
    display: flex;
}

img {
    max-width: 250px;
}

.devs h2 {
    padding: 10px;
}

footer {
    background-color: #172664;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
  
footer li {
    display: inline-block;
    margin-right: 20px;
}
  
footer a {
    color: #fff;
    text-decoration: none;
}
  
footer p {
    margin-top: 20px;
    font-size: 14px;
}


.icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}