@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


/* Dynamically changing InternXP's logo size */
img {
	max-width: 100%;
	height: auto;
	width: auto;
	position: center;
	margin-top: -50px;
	margin-bottom: -75px;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
	font-size: 20px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 10px 0 20px;
    margin-left: 10px;
    margin-right: 10px;
	text-align: center;
}

span {
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.5px;
	bottom: 68px;
	position: absolute;
	text-align: center;
}

body {
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	height: fit-content;
	margin: -20px 0 50px;
	color: white;
}

.box {
	position: relative;
	width: 380px;
	height: 380px;
	background: #172664;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	margin: 2% auto;
	padding: 5px;
}

/* Lines that move around perimeter of box */
.box::before 
{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 380px;
	background: linear-gradient(0deg,transparent,
	#ffdb70, #ffdb70);
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
}


.box::after 
{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 380px;
	background: linear-gradient(0deg,transparent,
	#ffdb70, #ffdb70);
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animate {
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

.form {
	position: absolute;
	inset: 2px;
	border-radius: 8px;
	background: #172664;
	z-index: 10;
}

.input-group {
	top: 170px;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.input-field {
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #ffdb70;
	outline: none;
	background: none;
	border-radius: 5px;
	color: white;
}

.submit-btn {
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #ffdb70;
	border: 0;
	border-radius: 30px;
	opacity: 60%;
	color: #172664;
	font-weight: bolder;
	transition: 0.3s;
    margin-top: 20px;
}

.submit-btn:hover {
	opacity: 1;
}

#search {
	left: 50px;
} 

a:link {
	color: white;
}

a:hover {
	color:#9ee6dc;
}

a:visited {
	color: white;
}